.wrapper {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.input {
	cursor: text;

	width: 100%;

	&:disabled {
		cursor: not-allowed;
	}
}

.primaryFill {
	@extend %input-primary-fill;
}

.ghost {
	background: transparent;
	border: none;
	outline: none;
}

.inputError {
	border-color: var(--color-error);
}

.errorText {
	color: var(--color-error);

	font-size: 12px;
}
