* {
	margin: 0;
	padding: 0;

	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	font-size: inherit;
	font-weight: inherit;
	overflow-wrap: anywhere;
	word-break: break-word;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

svg {
	max-width: 100%;
	height: auto;
}

img:not([data-nimg]) {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

input,
textarea,
button,
select {
	outline: none;

	color: inherit;

	font-size: inherit;
	background-color: transparent;
	font-family: inherit;
}

button,
input[type='submit'] {
	user-select: none;

	display: inline-block;

	background: transparent none;
	box-shadow: none;
	cursor: pointer;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

input[type='file'] {
	max-width: 100%;
}

textarea {
	resize: vertical;
}
