.RegisterForm {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100%;
	max-width: 440px;

	@media (max-width: 834px) {
		justify-content: flex-start;
	}

	&__header {
		margin-bottom: 32px;
	}

	&__title {
		margin-bottom: 12px;

		color: var(--text-black);
	}

	&__phoneGroup {
		display: flex;
		flex-direction: column;
		gap: 6px;

		margin-bottom: 24px;
	}

	&__phoneRow {
		margin-bottom: 0;
	}

	&__phoneError {
		color: var(--color-error);

		font-size: 12px;
	}

	&__agreement {
		margin-bottom: 32px;
	}

	&__agreementLink {
		color: var(--text-black);
		text-decoration: underline;
		text-underline-offset: 3px;
	}

	&__agreementLink:link {
		color: var(--text-black);
		text-decoration: underline;
		text-underline-offset: 3px;
	}

	&__agreementLink:visited {
		color: var(--text-black);
		text-decoration: underline;
		text-underline-offset: 3px;
	}
}
