.root {
	display: flex;

	min-height: 100vh;

	background: var(--color-background-surface-0);
}

.sidebar {
	position: sticky;
	top: 0;

	height: 100vh;
	flex-shrink: 0;
}

.body {
	display: flex;
	flex: 1;
	flex-direction: column;

	min-width: 0;
}

.main {
	flex: 1;
}
